.wf-loading, .wf-loading p, .wf-loading a, .wf-loading span, .wf-loading img {
  opacity: 0;
  font-family: "acumin-pro", "sans-serif";
  font-style: normal;
  font-weight: 300;
  visibility: hidden; }

a, a span {
  color: white;
  white-space: nowrap;
  transition: all 0.44s ease-in-out; }

p i, a i, a img {
  width: 15px;
  font-size: 15px;
  text-align: center; }

body {
  width: 100%;
  font-family: "acumin-pro", "sans-serif";
  font-style: normal;
  font-weight: 200;
  text-transform: none;
  letter-spacing: normal;
  line-height: 1.2em;
  color: white;
  background: #aaa;
  -webkit-transition: all 0.88s ease-in-out;
  -moz-transition: all 0.88s ease-in-out;
  -ms-transition: all 0.88s ease-in-out;
  -o-transition: all 0.88s ease-in-out;
  transition: all 0.88s ease-in-out; }

.wf-active {
  opacity: 1;
  visibility: visible; }
  .wf-active p {
    opacity: 1;
    visibility: visible; }
  .wf-active a {
    opacity: 1;
    visibility: visible; }
  .wf-active span {
    opacity: 1;
    visibility: visible; }
  .wf-active img {
    opacity: 1;
    visibility: visible; }

::selection {
  background: #444444;
  color: white;
  outline: none; }

::-moz-selection {
  background: #444444;
  color: white; }

li {
  list-style: none; }

p {
  margin-top: 0;
  margin-bottom: 0.9375rem;
  -webkit-transition: all 0.44s ease-in-out;
  -moz-transition: all 0.44s ease-in-out;
  -ms-transition: all 0.44s ease-in-out;
  -o-transition: all 0.44s ease-in-out;
  transition: all 0.44s ease-in-out; }
  p span {
    margin-left: 2px; }
  p a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4); }

.spacer {
  float: left;
  width: 100%; }

a {
  text-decoration: none; }
  a:visited {
    text-decoration: none; }
  a:active {
    color: #2f2f2f;
    opacity: 0.44; }
    a:active span {
      -webkit-box-shadow: 0 2px 0 0 #2f2f2f;
      -moz-box-shadow: 0 2px 0 0 #2f2f2f;
      box-shadow: 0 2px 0 0 #2f2f2f; }
  a span {
    margin-left: 2px;
    white-space: normal; }
  a i.fa-paper-plane {
    font-size: 13px; }
  a i.fa-calendar-o {
    font-size: 13px; }
  a:hover span {
    -webkit-box-shadow: 0 2px 0 0 white;
    -moz-box-shadow: 0 2px 0 0 white;
    box-shadow: 0 2px 0 0 white; }
  a:focus span {
    -webkit-box-shadow: 0 2px 0 0 white;
    -moz-box-shadow: 0 2px 0 0 white;
    box-shadow: 0 2px 0 0 white; }

.indent {
  width: 100px;
  float: left;
  text-align: left; }

.content {
  margin-bottom: 2.2rem;
  text-align: left; }
  @media only screen and (max-width: 40em) {
    .content {
      margin-bottom: 1.6rem; } }

.about-copy {
  margin-bottom: 1.6em; }

.list {
  text-transform: none; }
  .list ul {
    padding: 0;
    margin: 0;
    text-align: center; }
  .list li {
    padding: 0 0 1.2375rem;
    display: inline-block;
    margin-right: 0.9375rem; }
    @media only screen and (max-width: 40em) {
      .list li {
        padding: 0 0 0.625rem; } }

@-webkit-keyframes hvr-icon-up {
  0% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  25% {
    -moz-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px); }
  75% {
    -moz-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px); } }
@keyframes hvr-icon-up {
  0% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  25% {
    -moz-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px); }
  75% {
    -moz-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px); } }
.inner-experience {
  display: none;
  position: relative; }

.space {
  height: 60px;
  width: 100%;
  float: left; }

.aboutInfo a {
  color: #a38e7c; }
  .aboutInfo a:hover {
    color: #d6c1a2; }

.name p {
  font-weight: 200; }
.name i {
  margin: 0 3px; }

#menu {
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 10;
  margin: 0;
  padding: 0 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12); }
  @media only screen and (max-width: 40em) {
    #menu {
      background-color: rgba(255, 255, 255, 0.92);
      border-bottom: 1px solid rgba(255, 255, 255, 0.9); } }
  #menu li {
    float: left;
    line-height: 50px;
    margin-right: 15px; }
    #menu li a {
      color: rgba(0, 0, 0, 0.6);
      -webkit-transition: all 0.88s ease-in-out;
      -moz-transition: all 0.88s ease-in-out;
      -ms-transition: all 0.88s ease-in-out;
      -o-transition: all 0.88s ease-in-out;
      transition: all 0.88s ease-in-out; }
    #menu li.logo {
      margin-right: 20px;
      font-weight: 500;
      font-size: 16px;
      letter-spacing: -0.025em; }
    #menu li.nav {
      font-weight: 300;
      font-size: 15px;
      letter-spacing: 0.025em; }
      #menu li.nav:hover a, #menu li.nav:focus a {
        border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
    #menu li.last {
      margin-right: 0; }
    #menu li.active {
      font-weight: 700; }
  #menu a:focus {
    outline: none; }
  @media only screen and (max-width: 899px) {
    #menu {
      height: auto; }
      #menu li.logo {
        margin-right: 0;
        font-size: 16px;
        line-height: 14px;
        text-transform: uppercase;
        padding: 6px 12px 7px;
        border: 1px solid rgba(0, 0, 0, 0.6);
        border-radius: 2px;
        margin-top: 12px;
        letter-spacing: 2px;
        margin: 10px 0; }
      #menu li.nav {
        display: none;
        width: 100%;
        line-height: 40px;
        float: left !important; }
      #menu li.social {
        display: none;
        float: left !important; }
        #menu li.social.last {
          margin-right: 15px; }
      #menu li.mobile-menu {
        position: absolute;
        top: 0;
        right: 0;
        display: block !important;
        color: rgba(0, 0, 0, 0.6);
        width: 50px;
        text-align: center; } }
  @media only screen and (min-width: 899px) {
    #menu {
      height: 65px;
      padding: 0 20px; }
      #menu li {
        line-height: 65px; }
        #menu li.logo {
          line-height: 20px;
          text-transform: uppercase;
          padding: 7px 12px 8px;
          border: 1px solid rgba(0, 0, 0, 0.6);
          border-radius: 2px;
          margin-top: 14px;
          letter-spacing: 3px; } }

#pagepiling .layer {
  display: table-cell;
  text-align: center;
  vertical-align: middle; }
#pagepiling .section {
  display: table;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden; }
  #pagepiling .section h1 {
    font-weight: 100;
    text-align: left;
    font-size: 2.25em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    line-height: 50px;
    margin-bottom: 15px; }
    #pagepiling .section h1.sub-header {
      margin-top: 0 !important;
      font-size: 2em; }
  #pagepiling .section h2 a img {
    min-height: 60px;
    max-height: 60px;
    min-width: 60px;
    width: auto;
    border-radius: 3px;
    overflow: hidden;
    margin-right: 2px; }
  #pagepiling .section h2 a span {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25); }
  #pagepiling .section h2, #pagepiling .section h3 {
    margin: 0 0 12px;
    line-height: 1.08em;
    font-weight: 100; }
  #pagepiling .section h3 {
    margin-bottom: 20px; }
#pagepiling #section1 {
  background-color: black;
  background-image: url("/images/snowboard.jpg");
  background-size: cover;
  background-position: center; }
  #pagepiling #section1 video {
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100; }
  #pagepiling #section1 .notification {
    position: absolute;
    bottom: 5px;
    left: 5px;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 320px;
    line-height: 0;
    font-size: 12px;
    letter-spacing: 0.05em; }
#pagepiling #section2 {
  display: table;
  width: 100%;
  background-image: url("/images/backgrounder_v3.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
#pagepiling #section3 {
  display: table;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url("/images/experience.jpg"); }
  #pagepiling #section3 .slider {
    float: left;
    position: relative; }
    #pagepiling #section3 .slider .intro-slider {
      text-align: left; }
    #pagepiling #section3 .slider .name {
      padding-right: 38px;
      padding-left: 38px; }
    #pagepiling #section3 .slider p a {
      border-bottom: 1px solid rgba(255, 255, 255, 0.4);
      font-weight: 700; }
    #pagepiling #section3 .slider p i {
      margin-right: 6px; }
    #pagepiling #section3 .slider .flex-direction-nav {
      z-index: 11;
      position: absolute;
      top: 12px;
      width: 100%; }
      #pagepiling #section3 .slider .flex-direction-nav li {
        cursor: pointer; }
      #pagepiling #section3 .slider .flex-direction-nav a {
        opacity: 0.55;
        cursor: pointer; }
        #pagepiling #section3 .slider .flex-direction-nav a:hover, #pagepiling #section3 .slider .flex-direction-nav a:focus {
          opacity: 1; }
          #pagepiling #section3 .slider .flex-direction-nav a:hover:before, #pagepiling #section3 .slider .flex-direction-nav a:focus:before {
            color: white;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25); }
        #pagepiling #section3 .slider .flex-direction-nav a:before {
          color: rgba(255, 255, 255, 0.8);
          text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25); }
      #pagepiling #section3 .slider .flex-direction-nav .flex-next {
        right: 0; }
      #pagepiling #section3 .slider .flex-direction-nav .flex-prev {
        left: 0; }
#pagepiling #section4 {
  background-image: url("/images/triathlon.jpg");
  background-position: center center; }
  #pagepiling #section4 .slider, #pagepiling #section4 .about-copy {
    max-width: 500px; }
  #pagepiling #section4 p a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.6); }
  #pagepiling #section4 .indent {
    width: 60px; }
    @media only screen and (max-width: 40em) {
      #pagepiling #section4 .indent {
        width: 50px; } }
  #pagepiling #section4 .content {
    margin-bottom: 0;
    padding-left: 50px; }
    #pagepiling #section4 .content hr {
      border: 0;
      border-top: 1px solid rgba(255, 255, 255, 0.25); }
    @media only screen and (max-width: 40em) {
      #pagepiling #section4 .content p {
        margin-bottom: 0;
        padding-left: 50px;
        width: calc(100% - 70px); } }
  #pagepiling #section4 .slider {
    float: left;
    text-align: left;
    position: relative; }
    #pagepiling #section4 .slider .flex-direction-nav {
      z-index: 11;
      position: absolute;
      top: 48%;
      width: 100%; }
      #pagepiling #section4 .slider .flex-direction-nav a {
        opacity: 0.55; }
        #pagepiling #section4 .slider .flex-direction-nav a:hover, #pagepiling #section4 .slider .flex-direction-nav a:focus {
          opacity: 1; }
          #pagepiling #section4 .slider .flex-direction-nav a:hover:before, #pagepiling #section4 .slider .flex-direction-nav a:focus:before {
            color: white;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25); }
        #pagepiling #section4 .slider .flex-direction-nav a:before {
          color: rgba(255, 255, 255, 0.8);
          text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25); }
      #pagepiling #section4 .slider .flex-direction-nav .flex-next {
        right: 0; }
      #pagepiling #section4 .slider .flex-direction-nav .flex-prev {
        left: 0; }
#pagepiling #section5 {
  background-image: url("/images/school.jpg");
  background-position: center;
  color: #444; }
  #pagepiling #section5 a {
    color: #444;
    border-color: #444; }
    #pagepiling #section5 a:hover, #pagepiling #section5 a:focus {
      color: #777;
      border-color: #777; }
#pagepiling #section6 {
  background-image: url("/images/fundraising.jpg");
  background-position: center; }
  #pagepiling #section6 h2 {
    line-height: 1.4em;
    font-weight: 300;
    font-size: 18px;
    color: #444; }
  #pagepiling #section6 a {
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    border-radius: 2px;
    background: #222;
    padding: 11px 0 14px;
    margin: 0;
    color: white;
    display: block;
    text-align: center;
    -webkit-transition: all 0.44s ease-in-out;
    -moz-transition: all 0.44s ease-in-out;
    -ms-transition: all 0.44s ease-in-out;
    -o-transition: all 0.44s ease-in-out;
    transition: all 0.44s ease-in-out; }
    #pagepiling #section6 a:hover, #pagepiling #section6 a:focus {
      background-color: #62aaff;
      color: white; }
    @media only screen and (max-width: 40em) {
      #pagepiling #section6 a {
        padding: 14px 18px;
        margin: 10px 0;
        display: block;
        text-align: center; } }
  #pagepiling #section6 .content {
    padding: 20px;
    border-radius: 3px;
    color: black; }
    @media only screen and (max-width: 40em) {
      #pagepiling #section6 .content {
        background: rgba(255, 255, 255, 0.5); } }
#pagepiling #section7 {
  background-image: url("/images/photo.jpg");
  background-position: center;
  color: rgba(45, 49, 51, 0.7); }
  #pagepiling #section7 h1 {
    border-color: rgba(45, 49, 51, 0.25); }
  #pagepiling #section7 .name {
    padding-right: 38px;
    padding-left: 38px; }
  #pagepiling #section7 a {
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    border-radius: 2px;
    background: #222;
    padding: 11px 0 14px;
    margin: 0 auto;
    color: white;
    display: block;
    text-align: center;
    -webkit-transition: all 0.44s ease-in-out;
    -moz-transition: all 0.44s ease-in-out;
    -ms-transition: all 0.44s ease-in-out;
    -o-transition: all 0.44s ease-in-out;
    transition: all 0.44s ease-in-out; }
    #pagepiling #section7 a:hover, #pagepiling #section7 a:focus {
      background-color: #62aaff;
      color: white; }
    @media only screen and (max-width: 40em) {
      #pagepiling #section7 a {
        padding: 14px 18px;
        margin: 10px 0;
        display: block;
        text-align: center; } }

#pp-nav li .active span,
#pp-nav .pp-slidesNav .active span {
  background: rgba(255, 255, 255, 0.5) !important; }
#pp-nav span,
#pp-nav .pp-slidesNav span {
  width: 15px;
  height: 15px; }
#pp-nav li,
#pp-nav .pp-slidesNav li {
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin: 0;
  padding: 5px;
  position: relative; }

@media only screen and (max-width: 40em) {
  #pp-nav.right {
    right: 5px; } }

/*# sourceMappingURL=style.css.map */
