// Import It
@import "mixins";
@import "variables";

// Start Up Styles
body {
    width: 100%;
    font-family: $font_0, $font_1;
    font-style: normal;
    font-weight: 200;
    text-transform: none;
    letter-spacing: normal;
    line-height: 1.2em;
    color: $white;
    background: #aaa;
    @include transition(all 0.88s ease-in-out);
}

// Hide Stuff Till Fonts Load
.wf-loading {
    @extend %extend_1;
    p {
        @extend %extend_1;
    }
    a {
        @extend %extend_1;
    }
    span {
        @extend %extend_1;
    }
    img {
        @extend %extend_1;
    }
}

// Show Everything Once Fonts Load
.wf-active {
    opacity: 1;
    visibility: visible;
    p {
        opacity: 1;
        visibility: visible;
    }
    a {
        opacity: 1;
        visibility: visible;
    }
    span {
        opacity: 1;
        visibility: visible;
    }
    img {
        opacity: 1;
        visibility: visible;
    }
}

// Selections
::selection {
    background: $color_tundora_approx;
    color: $white;
    outline: none;
}
::-moz-selection {
    background: $color_tundora_approx;
    color: $white;
}

li {
    list-style: none;
}

p {
    margin-top: 0;
    margin-bottom: 0.9375rem;
    @include transition(all 0.44s ease-in-out);
    i {
        @extend %extend_3;
    }
    span {
        margin-left: 2px;
    }
    a {
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    }
}

.spacer {
    float: left;
    width: 100%;
}

a {
    text-decoration: none;
    @extend %extend_2;
    &:visited {
        text-decoration: none;
    }
    &:active {
        color: $color_mine_shaft_approx;
        opacity: 0.44;
        span {
            @include box-shadow(0 2px 0 0 $color_mine_shaft_approx);
        }
    }
    span {
        @extend %extend_2;
        margin-left: 2px;
        white-space: normal;
    }
    i {
        @extend %extend_3;
        &.fa-paper-plane {
            font-size: 13px;
        }
        &.fa-calendar-o {
            font-size: 13px;
        }
    }
    img {
        @extend %extend_3;
    }
    &:hover span {
        @include box-shadow(0 2px 0 0 white);
    }
    &:focus span {
        @include box-shadow(0 2px 0 0 white);
    }
}

.indent {
    width: 100px;
    float: left;
    text-align: left;
}

.content {
    margin-bottom: 2.2rem;
    text-align: left;
    @media only screen and (max-width: 40em) {
        margin-bottom: 1.6rem;
    }
}

.about-copy {
    margin-bottom: 1.6em;
}

.list {
    text-transform: none;
    ul {
        padding: 0;
        margin: 0;
        text-align: center;
    }
    li {
        padding: 0 0 1.2375rem;
        display: inline-block;
        margin-right: 0.9375rem;
        @media only screen and (max-width: 40em) {
            padding: 0 0 0.625rem;
        }
    }
}

// Animation
@-webkit-keyframes hvr-icon-up {
    0% {
        @include transform(translateY(0));
    }
    50% {
        @include transform(translateY(0));
    }
    100% {
        @include transform(translateY(0));
    }
    25% {
        @include transform(translateY(-3px));
    }
    75% {
        @include transform(translateY(-3px));
    }
}
@keyframes hvr-icon-up {
    0% {
        @include transform(translateY(0));
    }
    50% {
        @include transform(translateY(0));
    }
    100% {
        @include transform(translateY(0));
    }
    25% {
        @include transform(translateY(-3px));
    }
    75% {
        @include transform(translateY(-3px));
    }
}

.inner-experience {
    display: none;
    position: relative;
}

.space {
    height: 60px;
    width: 100%;
    float: left;
}

.aboutInfo a {
    color: $color_donkey_brown_approx;
    &:hover {
        color: $color_akaroa_approx;
    }
}

.name {
    p {
        font-weight: 200;
    }
    i {
        margin: 0 3px;
    }
}

// Video
// #myVideo {
//     position: absolute;
//     z-index: 4;
//     right: 0;
//     bottom: 0;
//     top:0;
//     right:0;
//     width: 100%;
//     height: 100%;
//     background-size: 100% 100%;
//     background-color: black;  in case the video doesn't fit the whole page
//     background-image: ;
//     background-position: center center;
//     background-size: contain;
//     object-fit: cover;
// }

// Nav
#menu {
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 10;
    margin: 0;
    padding: 0 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    @media only screen and (max-width: 40em) {
        background-color: rgba(255, 255, 255, 0.92);
        border-bottom: 1px solid rgba(255, 255, 255, 0.9);
    }
    li {
        a {
            color: rgba(0, 0, 0, 0.6);
            @include transition(all 0.88s ease-in-out);
        }
        &.logo {
            margin-right: 20px;
            font-weight: 500;
            font-size: 16px;
            letter-spacing: -0.025em;
        }
        &.nav {
            font-weight: 300;
            font-size: 15px;
            letter-spacing: 0.025em;
            &:hover, &:focus {
                a {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
                }
            }
        }
        &.last {
            margin-right: 0;
        }
        &.active {
            font-weight: 700;
        }
        float: left;
        line-height: 50px;
        margin-right: 15px;
    }
    a:focus {
        outline: none;
    }
    @media only screen and (max-width: 899px) {
        height: auto;
        li.logo {
            margin-right: 0;
            font-size: 16px;
            line-height: 14px;
            text-transform: uppercase;
            padding: 6px 12px 7px;
            border: 1px solid rgba(0, 0, 0, 0.6);
            border-radius: 2px;
            margin-top: 12px;
            letter-spacing: 2px;
            margin: 10px 0;
        }
        li.nav {
            display: none;
            width: 100%;
            line-height: 40px;
            float: left !important;
        }
        li.social {
            display: none;
            float: left !important;
            &.last {
                margin-right: 15px;
            }
        }
        li.mobile-menu {
            position: absolute;
            top: 0;
            right: 0;
            display: block !important;
            color: rgba(0,0,0,.6);
            width: 50px;
            text-align: center;
        }
    }
    @media only screen and (min-width: 899px) {
        height: 65px;
        padding: 0 20px;
        li {
            &.logo {
                line-height: 20px;
                text-transform: uppercase;
                padding: 7px 12px 8px;
                border: 1px solid rgba(0, 0, 0, 0.6);
                border-radius: 2px;
                margin-top: 14px;
                letter-spacing: 3px;
            }
            line-height: 65px;
        }
    }
}

// Sections
#pagepiling {
    .layer {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
    .section {
        display: table;
        width: 100%;
        background-size: cover;
        background-attachment: fixed;
        overflow: hidden;
        h1 {
            font-weight: 100;
            text-align: left;
            font-size: 2.25em;
            border-bottom: 1px solid rgba(255, 255, 255, 0.25);
            line-height: 50px;
            margin-bottom: 15px;
            &.sub-header {
                margin-top: 0 !important;
                font-size: 2em;
            }
        }
        h2 {
            a {
                img {
                    min-height: 60px;
                    max-height: 60px;
                    min-width: 60px;
                    width: auto;
                    border-radius: 3px;
                    overflow: hidden;
                    margin-right: 2px;
                }
                span {
                    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
                }
            }
        }
        h2, h3 {
            margin: 0 0 12px;
            line-height: 1.08em;
            font-weight: 100;
        }
        h3 {
            margin-bottom: 20px;
        }
    }
    // Intro
    #section1 {
        background-color: black;
        background-image: $url_7;
        background-size: cover;
        background-position: center;
        video {
            -webkit-transform: translateX(-50%) translateY(-50%);
            -moz-transform: translateX(-50%) translateY(-50%);
            -ms-transform: translateX(-50%) translateY(-50%);
            -o-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
            position: absolute;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -100;
        }
        .notification {
            position: absolute;
            bottom: 5px;
            left: 5px;
            padding: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 320px;
            line-height: 0;
            font-size: 12px;
            letter-spacing: 0.05em;
        }
    }
    #section2 {
        display: table;
        width: 100%;
        background-image: $url_0;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
    // Experience
    #section3 {
        display: table;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-image: $url_2;
        .slider {
            float: left;
            position: relative;
            .intro-slider {
                text-align: left;
            }
            .name {
                padding-right: 38px;
                padding-left: 38px;
            }
            p {
                a {
                    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
                    font-weight: 700;
                }
                i {
                    margin-right: 6px;
                }
            }
            .flex-direction-nav {
                z-index: 11;
                position: absolute;
                top: 12px;
                width: 100%;
                li {
                    cursor: pointer;
                }
                a {
                    opacity: 0.55;
                    cursor: pointer;
                    &:hover, &:focus {
                        opacity: 1;
                        &:before {
                            color: $white;
                            text-shadow: 0 1px 2px rgba(0,0,0,0.25);
                        }
                    }
                    &:before {
                        color: rgba(255,255,255,0.8);
                        text-shadow: 0 1px 2px rgba(0,0,0,0.25);
                    }
                }
                .flex-next {
                    right: 0;
                }
                .flex-prev {
                    left: 0;
                }
            }
        }
    }
    // Triathlons
    #section4 {
        background-image: $url_3;
        background-position: center center;
        .slider, .about-copy {
            max-width: 500px;
        }
        p {
            a {
                border-bottom: 1px solid rgba(255,255,255,0.6);
            }
        }
        .indent {
            width: 60px;
            @media only screen and (max-width: 40em) {
                width: 50px;
            }
        }
        .content {
            margin-bottom: 0;
            padding-left: 50px;
            hr {
                border: 0;
                border-top: 1px solid rgba(255, 255, 255, 0.25);
            }
            p {
                @media only screen and (max-width: 40em) {
                    margin-bottom: 0;
                    padding-left: 50px;
                    width: calc(100% - 70px);
                }
            }
        }
        .slider {
            float: left;
            text-align: left;
            position: relative;
            .flex-direction-nav {
                z-index: 11;
                position: absolute;
                top: 48%;
                width: 100%;
                a {
                    opacity: 0.55;
                    &:hover, &:focus {
                        opacity: 1;
                        &:before {
                            color: $white;
                            text-shadow: 0 1px 2px rgba(0,0,0,0.25);
                        }
                    }
                    &:before {
                        color: rgba(255,255,255,0.8);
                        text-shadow: 0 1px 2px rgba(0,0,0,0.25);
                    }
                }
                .flex-next {
                    right: 0;
                }
                .flex-prev {
                    left: 0;
                }
            }
        }
    }
    // School
    #section5 {
        background-image: $url_5;
        background-position: center;
        color: #444;
        a {
            color: #444;
            border-color: #444;
            &:hover, &:focus {
                color: #777;
                border-color: #777;
            }
        }
    }
    // Fundraising
    #section6 {
        background-image: $url_6;
        background-position: center;
        h2 {
            line-height: 1.4em;
            font-weight: 300;
            font-size: 18px;
            color: #444;
        }
        a {
            font-weight: 700;
            font-size: 15px;
            text-transform: uppercase;
            letter-spacing: 1px;
            border: none;
            border-radius: 2px;
            background: #222;
            padding: 11px 0 14px;
            margin: 0;
            color: white;
            display: block;
            text-align: center;
            @include transition(all 0.44s ease-in-out);
            &:hover, &:focus {
                background-color: #62aaff;
                color: white;
            }
            @media only screen and (max-width: 40em) {
                padding: 14px 18px;
                margin: 10px 0;
                display: block;
                text-align: center;
            }
        }
        .content {
            padding: 20px;
            border-radius: 3px;
            color: black;
            @media only screen and (max-width: 40em) {
                background: rgba(255,255,255,0.5);
            }
        }
    }
    // Photo
    #section7 {
        background-image: $url_4;
        background-position: center;
        color: rgba(45, 49, 51, 0.7);
        h1 {
            border-color: rgba(45, 49, 51, 0.25);
        }
        .name {
            padding-right: 38px;
            padding-left: 38px;
        }
        a {
            font-weight: 700;
            font-size: 15px;
            text-transform: uppercase;
            letter-spacing: 1px;
            border: none;
            border-radius: 2px;
            background: #222;
            padding: 11px 0 14px;
            margin: 0 auto;
            color: white;
            display: block;
            text-align: center;
            @include transition(all 0.44s ease-in-out);
            &:hover, &:focus {
                background-color: #62aaff;
                color: white;
            }
            @media only screen and (max-width: 40em) {
                padding: 14px 18px;
                margin: 10px 0;
                display: block;
                text-align: center;
            }
        }
    }
}

#pp-nav {
    li .active span,
    .pp-slidesNav .active span {
        background: rgba(255,255,255,0.5) !important;
    }
    span,
    .pp-slidesNav span {
        width: 15px;
        height: 15px;
    }
    li,
    .pp-slidesNav li {
        width: 24px;
        height: 24px;
        line-height: 24px;
        margin: 0;
        padding: 5px;
        position: relative;
    }
}

#pp-nav.right {
    @media only screen and (max-width: 40em) {
       right: 5px;
    }
}
